/* site.css - CARVE site CSS
 *
 *
 */

:root {
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

.main {
    height: calc(75vh - 40px);
    min-height: 15vh;
    max-height: 85vh;

    width: 100%;
    position: relative;
}

.row {
    display: flex;
}

.col {
}

.menu {
    width: 100%;
    height: 22px;

    font-size: 1.2em;
    padding: 0.2em 0.2em 0.2em 0.2em;

    background-color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
    font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
}

#reg_table {
    width: 100%;
}

#registers {
    padding: 4px;
    overflow-y: scroll;
    background-color: white;
    flex: auto;
}

#editor { 
    height: 100%;
    width: 50vw;
}

#console {
    height: 25.1vh;
    min-height: 12vh;

    font-family: "SFMono-Regular", Menlo, Consolas, Monospace;

    color: blue;
}

#resize-tabedit {
    flex: none;
    width: 6px;
    background-color: lightgray;
    cursor: col-resize;
}

#resize-console {
    width: 100%;
    height: 6px;
    background-color: lightgray;
    cursor: row-resize;
}

#menu_bar {

}

.reg_id {
    width: 4em;
}
.reg_name {
    width: 4em;
}

.reg_hex {
    width: 4em;
}

.reg_dec {
}
