/* site.css - CARVE site CSS
 *
 * @author: Gregory Croisdale <greg@kscript.org>
 */

/* global variables */

:root {
    --base-panel-color: #2f3029;
    --dark-panel-color: #282923;
    --derk-panel-color: #1c1c18;
    --light-0: #c3c4bb;
    --light-1: #8F908A;
    --light-2: #5b5c58;
    --light-3: #404238;

    --button-color: #70705f;

    --reg: #ffc98a;
    --num: #cfcae8;

    --body-text: #F8F8F2;
    --button-text: #eeeeee;
}

/* layout classes */

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* generic element styles */

.hbar, .vbar {
    background-color: var(--light-1);
}

.vbar {
    cursor: row-resize;
}

.hbar {
    cursor: col-resize;
}

.toolbar {
    background-color: var(--base-panel-color);
    padding-top: 4px;
}

.console, .editor {
    background-color: var(--light-2);
}

.table {
    background-color: var(--derk-panel-color);
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    font-size: 26px;
    margin-left: 4px;
    padding: 2px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */    
}

.button:hover {
    background-color: var(--light-1);
    cursor: pointer;
}


/* Table formatting */

.reg_table {
    width: 100%;
    height: 100%;
    padding: 4px;
    overflow-y: scroll;
    background-color: var(--dark-panel-color);
    flex: auto;
    color: var(--body-text);
}

.regs {
    border: 2px solid var(--light-1);
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
    font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
    background-color: var(--base-panel-color);
}

.reg_id {
    width: 4em;
    color: var(--reg);
}

.reg_name {
    width: 4em;
    color: var(--reg);
}

.reg_intid {
    color: var(--reg);
}


.reg_fltid {
    color: var(--reg);
}

.reg_hex {
    width: 4em;
    color: var(--num);
}

.reg_dec {
    color: var(--num);
}

.t_head {
    text-align: center;
    color: var(--body-text);
}

.table_label {
    text-align: center;
    font-size: larger;
}

/* special elements */

.file-select-hidden {
    opacity: 0;
}

.tippy-content {
    background-color: var(--light-1);
}

.tippy-arrow {
    color: var(--light-1);
}

#ace_editor { 
    height: 100%;
}

/* grid specifiers */

.grid-container {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 16px 1.5fr;
    grid-template-rows: 42px 3.8fr 16px 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_toolbar main_toolbar main_toolbar"
    "editor_container reg_bar reg_tab"
    "console_bar console_bar console_bar"
    "console console console";
}

.editor_container {
    grid-area: editor_container;
    display: grid;
    grid-template-columns: 2.5fr 16px 1fr;
    grid-template-rows: 2.4fr 42px;
    gap: 0px 0px;
    grid-template-areas:
        "editor editor_bar exe_tab"
        "exe_toolbar exe_toolbar exe_toolbar";
    min-width: 30%;
    width: 100%;
}

.console_bar {
    grid-area: console_bar;
    min-width: 10%;
}

.console {
    grid-area: console;
    min-height: 10vh;
    min-width: 10vw;
}

.reg_bar {
    grid-area: reg_bar;
}

.reg_tab {
    grid-area: reg_tab;
}

.main_toolbar {
    grid-area: main_toolbar;
}

.editor {
    grid-area: editor;
    min-height: 10vh;
    min-width: 10vw;
}

.editor_bar {
    grid-area: editor_bar;
}

.exe_tab {
    grid-area: exe_tab;
    min-height: 10vh;
    min-width: 10vw;
}

.exe_toolbar {
    grid-area: exe_toolbar;
}